@font-face
{
	font-family: 'DancingScript';
	src: url('DancingScript.otf');
}
body
{
  background: #02010a;
}
header
{
	background: #5b7989;
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0 ;
  -moz-border-radius: 10px 10px 0 0 ;
  -webkit-border-radius: 10px 10px 0 0 ;

}
.cabeza
{
	display: flex;
	flex-flow: row wrap;

}
.logo
{
	width: 50%;
	height: auto;
	color: white;
}
h1
{
	text-align: left;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	padding-left: 30px;
  font-family: 'DancingScript';
}
#navegacion
{
	width: 50%;
	height: auto;
	text-align: center;
}
#navegacion .active
{
	text-decoration: none;
}
ul
{
    margin-top: 30px;
		margin-left: -30px;
}
li
{
  list-style-type: none;
  display: inline;
}
ul li a
{
  font-family: 'DancingScript';
  text-decoration: underline;
	margin: 15px;
	color: white;
  font-size: 18px;
}
#contenedor
{
	display: flex;
	flex-flow: row wrap;
}
.col1
{
	background: #d5c75f;
	width: 33.33%;
	height: auto;
}
.col2
{
	background: #d5c75f;
	width: 33.33%;
	height: auto;
}
.col3
{
	background: #d5c75f;
	width: 33.33%;
	height: auto;
}
.img1
{
  width: 70%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	box-shadow: 2px 2px 0 #02010a;
}
.img2
{
  width: 70%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	box-shadow: 2px 2px 0 #02010a;
}
.img3
{
  width: 70%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	box-shadow: 2px 2px 0 #02010a;
}
.img4
{
  width: 70%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 0 #02010a;
}
.img5
{
  width: 70%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: sepia(90%);
  filter: sepia(90%);
	box-shadow: 2px 2px 0 #02010a;
}
.img6
{
  width: 70%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	box-shadow: 2px 2px 0 #02010a;
}

footer #pie
{
	display: flex;
	flex-flow: row wrap;
  width: 100%;
}
footer h3, p, a
{
	font-size: 12px;
  font-family: 'DancingScript';
}
.contactos
{
	background: #c6dec5;
	text-align: center;
}
.terminos
{
	text-align: center;
	background: #c6dec5;
}
.redes
{
	text-align: center;
	background: #c6dec5;
}
.derechos
{
	background: #c6dec5;
	text-align: center;
}
@media (max-width:900px)
{
  .logo{width: 100%; text-align: center;}
	h1{text-align: center;}
	.col1,.col2,.col3{width: 100%;}
  #navegacion{width: 100%;}
	#contacto {width: 100%;}
  #terminos {width: 100%;}
  #redes {width: 100%;}
  #derechos {width: 100%;}
  #contenido{width: 100%;
             height: auto;
             margin: auto;
             display: block;}
  .contactos{width: 100%; height: auto;}
  .terminos{width: 100%; height: auto;}
  .redes{width: 100%; height: auto;}
  .derechos{width: 100%; height: auto;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;}
}
@media (min-width:901px)
{
  .logo{width: 50%;}
  #navegacion{text-align: right;
							width: 50%;}
	 ul{margin-right: 15px;}
	 #contacto {width: 25%;
					 height: 175px;}
   #terminos {width: 25%;
					 height: 175px;}
 	 #redes {width: 25%;
				 height: 175px;}
   #derechos {width: 25%;
					 height: 175px;}
 footer {display: flex;
			 flex-flow: nowrap;}
   #contenido{width: 900px;
              height: auto;
              margin: auto;
              display: block;}
  .contactos{width: 25%; height: auto;
  border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;}
  .terminos{width: 25%; height: auto;}
  .redes{width: 25%; height: auto;}
  .derechos{width: 25%; height: auto;
  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;}
}
.rebote
{
	animation: rebote 4s;
}
@-webkit-keyframes rebote
{
	0%
	{
		margin-top: 150%;
	}
	60%
	{
		margin-top: -5%;
	}
	100%
	{
		margin-top: 0%;
	}
}
