@font-face
{
	font-family: 'DancingScript';
	src: url('DancingScript.otf');
}
body
{
	background-color: #02010a;
}
header
{
	background: #5b7989;
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0 ;
  -moz-border-radius: 10px 10px 0 0 ;
  -webkit-border-radius: 10px 10px 0 0 ;
}
.cabeza
{
	display: flex;
	flex-flow: row wrap;
}
.logo
{
	width: 50%;
	height: auto;
	color: white;
}
h1
{
	font-family: 'DancingScript';
	text-align: center;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
}
#navegacion
{
	width: 100%;
	height: auto;
	text-align: center;
}
#navegacion .active
{
	text-decoration: none;
}
ul
{
    margin-top: 30px;
		margin-left: -30px;
}
li
{
  list-style-type: none;
  display: inline;
}
ul li a
{
  text-decoration: underline;
	margin: 15px;
	color: white;
	font-size: 18px;
  font-family: 'DancingScript';
}
.principal
{
	background: #82c3a6;
	width: 100%;
	height: auto;
}
.img
{
	width: 70%;
	height: auto;
	display: block;
	margin: auto;
	padding: 20px;
}
.centro
{
 	box-shadow: 2px 2px #01020a;
}
#secundario
{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	border: solid black 1px;
}
.caja1
{
	background: #d5c75f;
	width: 50%;
	height: auto;
}
.caja2
{
	background: #d5c75f;
	width: 50%;
	height: auto;
}
.paisaje
{
	width: 70%;
	height: auto;
	margin: auto;
	padding: 10px;
	display: block;

}
.rostro
{
	width: 70%;
	height: auto;
	margin: auto;
	padding: 10px;
	display: block;
}
.pie_img
{
	text-align: center;
	margin-bottom: 10px;
	text-decoration: none;
}
.caja1 img
{
	transition-duration: 2s;
		border: solid black 2px;
		padding: 0;
		margin-top: 10px;
}
.caja1 img:hover
{
		transform: rotate(10deg);
		box-shadow: 10px 10px 10px 0 #82C3A6;
		border: none;
}
.caja2 img
{
	animation-name: Muelle;
	transition-duration: 3s;
	border: solid black 2px;
	padding: 0;
	margin-top: 10px;
}
.caja2 img:hover
{
	transform: translate(20px,-5px);
	box-shadow: 10px 10px 10px 0 #82c3a6;
	border: none;

}
footer #pie
{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
footer h3, p, a
{
	font-size: 12px;
	font-family: 'DancingScript';
}
.contactos
{
	background: #c6dec5;
	text-align: center;
}
.terminos
{
	text-align: center;
	background: #c6dec5;
}
.redes
{
	text-align: center;
	background: #c6dec5;
}
.derechos
{
	background: #c6dec5;
	text-align: center;
}

@media (max-width:900px)
{
  .logo{width: 100%; text-align: center;}
	.caja1{width: 100%;}
	.caja2{width: 100%}
	#contenido {width: 100%;
				height: auto;
				margin: auto;
				display: block;}
	.contactos{width: 100%; height: auto;}
	.terminos{width: 100%; height: auto;}
	.redes{width: 100%; height: auto;}
	.derechos{width: 100%; height: auto;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;}

}
@media (min-width:901px)
{
  .logo{width: 50%;}
   #navegacion{text-align: right; width: 50%;}
	 ul{margin-right: 15px;}
   footer {display: flex; flex-flow: nowrap;}
	 #contenido {width: 900px; height: auto; margin: auto; display: block;}
  	.contactos{width: 25%; height: auto;
		 border-radius: 0 0 0 10px;
		-moz-border-radius: 0 0 0 10px;
 		-webkit-border-radius: 0 0 0 10px;}
		.terminos{width: 25%; height: auto;}
		.redes{width: 25%; height: auto;}
		.derechos{width: 25%; height: auto;
		border-radius: 0 0 10px 0;
		-moz-border-radius: 0 0 10px 0;
		-webkit-border-radius: 0 0 10px 0;}
}

.rebote
{
	animation: rebote 4s;
}
@-webkit-keyframes rebote
{
	0%
	{
		margin-top: 150%;
	}
	60%
	{
		margin-top: -5%;
	}
	100%
	{
		margin-top: 0%;
	}
}
